<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, viewport-fit=cover"
    />

    <title><!-- It will be replaced by webpack --></title>
    <script src='/assets/js/loader.js'></script>
    <link rel="stylesheet" href="/assets/styles/main.css" />
  </head>

  <body>
    <div id="progress-bar" class="pace"></div>
    <div id="root">
      <div class="placeholder" width="100%" height="100%">
        <div><img class="appLogo" src="/assets/images/app-logo.svg" width="100px" /></div>
      </div>
    </div>
  </body>
</html>
